### Olympic Medal Count Prediction 

#### Model      : Decission Tree Classifier .
#### Features : Age , Height , Weight , Team , Sport , Year , Event , sex , City.

In [1]:
import pandas as pd
import numpy as np
from sklearn import tree 
from sklearn import preprocessing

In [2]:
data = pd.read_csv("../data/athlete_events.csv")
data = data.query('Season=="Summer"') # Filtered only for Summer season as we are predicting for summer.
data = data.dropna() # Removed all NaN from any row. So we do not have those rows . Is it ok ??

In [6]:
data.head(5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
44,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold
48,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold
50,17,Paavo Johannes Aaltonen,M,32.0,175.0,64.0,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Team All-Around,Bronze

In [4]:
#Feature: Team (Converting it from string to integer)
test_dict={}
test_list=[]
test_list = list(data['Team'])
#print(test_list)

In [5]:
# Team
le = preprocessing.LabelEncoder()
le.fit(test_list)
names= list(le.classes_)
array_val=le.transform(list(le.classes_)) 

for i in range(len(names)):    
    test_dict.update({names[i]:array_val[i]})

print("key\n",test_dict['Finland'])
#list(le.inverse_transform([array_val]))

key
 70

In [6]:
#Updating the data with string feature Team's corresponding integer value .

data["Team_number"] =''
for i in range(len(test_list)): 
    #print(test_dict[test_list[i]])   
    data.loc[data['Team'] == test_list[i], ['Team_number']] = test_dict[test_list[i]]

In [7]:
#Feature : Sport (Converting it from string to integer)
Sport_dict={}
Sport_list=[]
Sport_list = list(data['Sport'])
#print(Sport_list)

In [8]:
# Sport
le = preprocessing.LabelEncoder()
le.fit(Sport_list)
sports= list(le.classes_)
array_val_sports=le.transform(sports) 

for i in range(len(sports)):    
    Sport_dict.update({sports[i]:array_val_sports[i]})

print("key\n",Sport_dict['Gymnastics'])
#list(le.inverse_transform([array_val]))

key
 16

In [9]:
#Updating the data with string feature Sports's corresponding integer value .

data["Sport_number"] =''
for i in range(len(Sport_list)): 
    #print(test_dict[test_list[i]])   
    data.loc[data['Sport'] == Sport_list[i], ['Sport_number']] = Sport_dict[Sport_list[i]]

In [35]:
#Feature : Event (Converting it from string to integer)
Events_dict={}
Events_list=[]
Events_list = list(data['Event'])

In [36]:
# Event
le = preprocessing.LabelEncoder()
le.fit(Events_list)
events= list(le.classes_)
array_val_events=le.transform(events) 

for i in range(len(events)):    
    Events_dict.update({events[i]:array_val_events[i]})

print("key\n",Events_dict["Gymnastics Men's Individual All-Around"])
#list(le.inverse_transform([array_val]))

key
 209

In [37]:
#Updating the data with string feature Events' corresponding integer value .

data["Event_number"] =''
for i in range(len(Events_list)): 
    #print(test_dict[test_list[i]])   
    data.loc[data['Event'] == Events_list[i], ['Event_number']] = Events_dict[Events_list[i]]

In [47]:
#Feature : City (Converting from string to integer)
City_dict={}
City_list=[]
City_list = list(data['City'])

In [50]:
#City

le = preprocessing.LabelEncoder()
le.fit(City_list)
city= list(le.classes_)
array_val_city=le.transform(city) 

for i in range(len(city)):    
    City_dict.update({city[i]:array_val_city[i]})

print("key\n",City_dict['London'])

key
 8

In [51]:
#Updating the data with string feature City's corresponding integer value .

data["City_number"] =''
for i in range(len(City_list)): 
    #print(test_dict[test_list[i]])   
    data.loc[data['City'] == City_list[i], ['City_number']] = City_dict[City_list[i]]

In [53]:
#Feature : Sex (Converting from string to integer)
sex_dict={}
sex_list=[]
sex_list = list(data['Sex'])

In [55]:
#Sex

le = preprocessing.LabelEncoder()
le.fit(sex_list)
sex= list(le.classes_)
array_val_sex=le.transform(sex) 

for i in range(len(sex)):    
    sex_dict.update({sex[i]:array_val_sex[i]})

print("key\n",sex_dict['M'])
print("key\n",sex_dict['F'])

key
 1
key
 0

In [56]:
#Updating the data with string feature City's corresponding integer value .

data["sex_number"] =''
for i in range(len(sex_list)): 
    #print(test_dict[test_list[i]])   
    data.loc[data['Sex'] == sex_list[i], ['sex_number']] = sex_dict[sex_list[i]]

In [57]:
data.head(5)
#print(data['Team_number'])

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Team_number,Sport_number,Event_number,City_number,sex_number
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze,70,16,209,8,1
42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold,70,16,215,8,1
44,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold,70,16,208,8,1
48,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold,70,16,212,8,1
50,17,Paavo Johannes Aaltonen,M,32.0,175.0,64.0,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Team All-Around,Bronze,70,16,215,7,1

In [58]:
#Write csv of wrangled data.
data.to_csv("results/athelete_events_wrangled")

In [12]:
data_clean = pd.read_csv("../results/athelete_events_wrangled")

In [14]:
data_clean.head(2)

,Unnamed: 0,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,...,Season,City,Sport,Event,Medal,Team_number,Sport_number,Event_number,City_number,sex_number
0,41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,...,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze,70,16,209,8,1
1,42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,...,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold,70,16,215,8,1

In [15]:
# Building Features , excluding NOC , Games , Season.
feature_cols = ['Age','Height','Weight','Team_number','Sport_number','Year','Event_number','sex_number','City_number']

X = data_clean.loc[:, feature_cols]
y = data_clean.Medal

In [16]:
#Split the data into training and validation/test.
from sklearn.model_selection import train_test_split 

# shuffles and then splits
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y,test_size=0.2)

In [61]:
Xtrain.head(5)

,Age,Height,Weight,Team_number,Sport_number,Year,Event_number,sex_number,City_number
151326,30.0,176.0,66.0,70,2,1928,50,1,0
58349,26.0,188.0,85.0,169,17,1980,224,1,13
220949,24.0,181.0,72.0,58,8,1988,135,0,18
198705,31.0,179.0,76.0,78,18,2004,226,1,2
256315,30.0,177.0,68.0,31,9,1996,149,1,3

In [21]:
#Model DecisionTreeClassifier() as our target is string.
model = tree.DecisionTreeClassifier()

In [63]:
# Fit a model on training data set 
model.fit(Xtrain, ytrain)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [64]:
#Trainning score
model.score(Xtrain, ytrain)

0.9999013417521705

In [65]:
#Prediction on test : 
predict= model.predict(Xtest)

In [66]:
#Test score
model.score(Xtest, ytest)

0.6452949299664628

In [68]:
# Test error .
yhat = model.predict(Xtest)
train_err = np.mean(ytest!=yhat)
print("Test error,", train_err)

Test error, 0.3547050700335372

In [72]:
#Print
print(Xtest.head(5))
print(ytest.head(5))

         Age  Height  Weight  Team_number  Sport_number  Year  Event_number  \
128895  22.0   170.0    57.0           95            18  1972           226
179289  25.0   190.0    95.0            8             4  2004            93
96184   35.0   170.0    59.0          206            34  2016           387
211679  24.0   172.0    64.0           70            16  1932           210
88963   21.0   175.0    60.0           82             2  1908             6

        sex_number  City_number
128895           1           14
179289           1            2
96184            0           16
211679           1            9
88963            1            8
128895    Bronze
179289    Silver
96184     Silver
211679    Bronze
88963     Bronze
Name: Medal, dtype: object

In [67]:
#Predict on validation dataset .
#predictions = model.predict(X)

#pred_dict = data.copy()
#pred_dict['prediction'] = predictions
#pd.DataFrame(pred_dict)